.searchBar {
  border: 1px solid #dfdfdf;
  background-color: white;
  box-shadow: 0 7px 15px -15px;
  border-radius: 16px;
  width: 500px;
  height: 55px;
  max-height: 530px;
  transition: height .5s ease-in-out;
  overflow: hidden;
  display: grid;
  grid-template-rows: 55px 39px 436px;
}

.searchInputArea {
  display: grid;
  align-items: center;
  grid-template-columns: 18px 2fr auto;
  gap: 1rem;
  padding: 0 24px;
  height: 100%;
  color: var(--less-black);
  box-sizing: border-box;
}

.searchInputArea img {
  opacity: .5;
  animation-name: halfOpacityTransition;
  animation-duration: .5s;
}

.searchInputArea .spinner {
  border: 3px solid;
  border-color: black black black transparent;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  opacity: .5;
  animation-name: loadingSpin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: .2s;
  transform-origin: center;
  box-sizing: border-box;
}

.searchInputArea input {
  width: 100%;
  height: 100%;
  appearance: none;
  font-size: 20px;
  font-weight: bold;
  border: none;
  box-sizing: border-box;
}

.searchInputArea input:focus {
  outline: none;
}

.searchInputArea .clearBtn {
  font-weight: 600;
  border-bottom: 1px solid var(--less-black);
  font-size: 12px;
  cursor: pointer;
  /* transition: .4s; */
  user-select: none;
  box-sizing: border-box;
  animation-name: opacityTransition;
  animation-duration: 2s;
}

.quickAcess {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  width: 100%;
  opacity: .5;
  color: var(--less-black);
  animation-name: halfOpacityTransition;
  animation-duration: 2s;
}

.searchInputArea .quickAcess p {
  font-size: 12px;
  font-weight: bold;
}

.searchInputArea .quickAcess span {
  font-size: 10px;
  font-weight: bold;
  border: 1px solid var(--less-black);
  box-shadow: 0 2px white, 0 3px var(--less-black);
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.searchFilters {
  border-bottom: 2px solid #f1f1f1;
  padding: 0px 24px;
}

.searchFilters .filterSettings {
  position: relative;
}

.searchFilters .filterSettings img {
  opacity: .5;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  transition: .2s;
}

.searchFilters .filterSettings .settingsMenu {
  border: 1px solid #dfdfdf;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  right: 0;
  background-color: white;
  z-index: 9;
  border-radius: 8px;
  padding: 8px;
  width: 130px;
  box-shadow: 0 7px 15px -15px black;
  animation-name: opacityTransition;
  animation-duration: .4s;
}

.searchFilters .filterSettings .settingsMenu p {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.searchFilters .filterSettings .settingsMenu p span {
  display: flex;
  align-items: center;
}

.searchFilters .filterSettings .settingsMenu .checkButton {
  /* border: 1px solid #dfdfdf; */
  width: 20px;
  height: 11px;
  border-radius: 8px;
  position: relative;
  background-color: #e1e1e1;
}

.searchFilters .filterSettings .settingsMenu .checkButton span {
  width: 8px;
  height: 8px;
  background-color: #fff;
  z-index: 1;
  position: absolute;
  border-radius: 50%;
  /* left: 2px; */
  top: 50%;
  transform: translate(2px, -50%);
  transition: .2s;
}

.active {
  background-color: var(--less-black) !important;
}

.active span {
  transform: translate(10px, -50%) !important;
}

.searchFilters,
.filters {
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.filters {
  padding: 0;
}

.searchFilters .filters li {
  animation-name: opacityTransition;
  animation-duration: .5s;
}

.filterDisabled {
  opacity: .4;
}

.searchFilters p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 13px;
  font-weight: 600;
  padding: 8px;
  border-bottom: 2px solid transparent;
  transform: translateY(1.5px);
  user-select: none;
  cursor: pointer;
  color: var(--less-black);
}

.selectedFilterBorder {
  border-color: var(--less-black) !important;
}

.searchFilters .filters li span {
  background-color: #f1f1f1;
  color: #7e7e7e;
  font-size: 11px;
  height: 16px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.searchResults {
  user-select: none;
  position: relative;
  height: 100%;
}

.noResults {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .5;
  animation-name: halfOpacityTransition !important;
  font-size: 14px;
}

.noResults p {
  border-bottom: 1px solid var(--less-black)
}

.dataResult::-webkit-scrollbar {
  width: 0px;
}

.blankResult,
.dataResult {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dataResult {
  overflow-y: scroll;
  height: 100%;
}

.dataResult li:hover {
  background-color: #fafafa;
}

.dataResult li,
.blankResult {
  display: flex;
  gap: .5rem;
  padding: 1rem 24px;
  border-bottom: 1px solid #f1f1f1;
  animation-name: opacityTransition;
  animation-duration: 1s;
  transform-origin: left;
}

.blankResult {
  opacity: .5;
}

.blankResult:nth-child(2) {
  animation-delay: .2s;
}

.blankResult:nth-child(3) {
  animation-delay: .3s;
}

.blankResult:nth-child(4) {
  animation-delay: .4s;
}

.blankResult:nth-child(5) {
  animation-delay: .5s;
}

.blankResult:nth-child(6) {
  animation-delay: .6s;
}

.blankResult:last-child,
.dataResult li:last-child {
  border-bottom: none;
}

.blankResult span,
.dataResult .resultImage {
  width: 40px;
  height: 40px;
  background-color: #e1e1e1;
  opacity: 1;
  border-radius: 8px;
}

.loadingAnimation {
  animation-name: loadingResults;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.status,
.awayStatus,
.onlineStatus {
  width: 9px;
  height: 9px;
  background-color: red;
  border-radius: 9px;
  border: 3px solid white;
  position: absolute;
  right: -5px;
  bottom: -5px;
}

.awayStatus {
  background-color: orange;
}

.onlineStatus {
  background-color: rgb(142, 218, 28);
}

.blankResult div,
.dataResult li div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dataResult li>div {
  position: relative;
}

.dataResult .descriptionBox {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.dataResult li .resultOption {
  opacity: 0;
}

.dataResult li:hover .resultOption {
  opacity: 1;
}

.dataResult .resultOption div {
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.dataResult .resultOption,
.dataResult .resultOption .newTabBox {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.dataResult .resultOption img,
.dataResult .resultOption p {
  opacity: .5;
  font-weight: bold;
}

.dataResult .resultOption div:hover {
  background-color: #eaeaea;
}

.dataResult .resultOption div:active {
  background-color: #e1e1e1;
}

.dataResult .resultOption .copyLinkBox {
  position: relative;
}

.dataResult .resultOption .tooltip {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--less-black);
  color: var(--less-white);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 13px;
  width: 80px;
  text-align: center;
  display: none;
  opacity: .9;
}

.dataResult .resultOption .copyLinkBox:hover .tooltip {
  display: block;
}

.dataResult div h3 {
  font-size: 14px;
}

.dataResult div p {
  font-size: 12px;
  opacity: .5;
}

.blankResult div span {
  height: 8px;
  width: 150px;
}

.blankResult div span:first-child {
  width: 250px;
}

@keyframes loadingResults {
  0% {
    opacity: .5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .5;
  }
}

@keyframes loadingSpin {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}

@keyframes opacityTransition {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes halfOpacityTransition {
  from {
    opacity: 0;
  }

  to {
    opacity: .5;
  }
}